<meta charset="utf-8">
<title>{{pageTitle}}</title>
<meta name="description" content="{{pageMeta}}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles/theme.css" />
